# ignore system files
.DS_Store
.idea
.vscode
thumbs.db
__MACOSX
._*
.*swp
.*swo
images.zip

node_modules/

/concrete
/updates
/application/config/database.php
/application/config/generated_overrides
/application/files/cache/*
/application/files/tmp/*
/application/files/*
/application/tools/*
